---
title: PIC..ME
layout: 'base.njk'
---
    <!-- navbar -->
    <div class="navbar">
        <nav class="transparent">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo black-text"> <i class="large material-icons">camera_alt</i>PIC..ME</a>
                </div>
            </div>
        </nav>
    </div>
    <main>
          <!--image slider-->
     <div class="slider">
        <ul class="slides">
            <li>
                <img class="responsive-img" src="/assets/img/samantha-gades-BlIhVfXbi9s-unsplash.jpg" alt="">
            </li>
            <li>
                <img class="responsive-img" src="/assets/img/leone-venter-VieM9BdZKFo-unsplash.jpg" alt="">
            </li>
            <li>
                <img class="responsive-img" src="/assets/img/bench-accounting-nvzvOPQW0gc-unsplash.jpg" alt="">
            </li>
        </ul>
    </div>
    <div class="button">
        <div class="btn btn-med black z-depth-5">See Photos</div>
    </div>
    </main>
</body>
<script>
    //img slider
    const slider = document.querySelector('.slider');
        M.Slider.init(slider, {
            indicators: false,
            height: 550,
            transition: 500,
            interval: 3000,
        });
 document.querySelector('.button').addEventListener('click',(e)=>{
    window.location="/gallery"
 });

 </script>
