<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test file</h1>
{% for galleryPhoto in collections.galleryPhoto %}
  {% set length = galleryPhoto.data.links.length %} 
  {% for i in range(0, length) %}
  <p>{{ galleryPhoto.data.links[i]}}</p>
  {% endfor %}
{% endfor %}
    
</body>
</html>
